<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Easy to use, small, and customizable. Try it out for yourself!">
    <meta property="og:title" content="Synth Angular" />
    <meta property="og:description" content="Synth angular library" />

    <title>Synth angular library tour</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/rainbow.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/html.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/themes/github.css" rel='stylesheet' type='text/css'>

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="../bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
    <script type="text/javascript" src="../dist/synth-angular.js"></script>
    <script type="text/javascript" src="../dist/synth-angular-tpls.js"></script>
    <script type="text/javascript" src="app.js"></script>
    
</head>

<body ng-app="demoApp" >
    <script type="text/ng-template" id="columnTemplate.html">
      <p>the item author is <b>"{{item.author}}"</b> and the column name is <b>"{{cell.libelle}}"</b></p>
    </script>
    <div class="container">
        <div class="row" ng-controller="FormCtrl">
            <div class="col-md-12">
                <h1>Synth angular library</h1>

                <h2>Forms</h2>

                <form name="form1" sy-submit="addUser()" sy-form="{horizontal: true, inline: false, data_loading_text: 'Chargement...', form_message_error: {message: 'C\'est faux'}}" sy-validation-schema="User">
                    <sy-form-group input-label="Nom">
                        <input sy-form-input name="name" type="text" ng-model="user.name" />
                    </sy-form-group>
                    <sy-form-group input-label="Email">
                        <input sy-form-input name="email" type="email" ng-model="user.email" />
                    </sy-form-group>
                    <button type="submit" class="btn">Add</button>
                </form>
                <hr/>
                <div ng-repeat="u in users">
                    <label ng-bind="u.name"></label>
                    <label ng-bind="u.email"></label>
                </div>
            </div>
        </div>
        <div class="row" ng-controller="ListCtrl">
            <div class="col-md-12" ui-view="editZone">
            </div>
            <div class="col-md-12">
                <h2>Lists</h2>
                <sy-list name-element="book" list-elements='books' options="listOptions" title="List of books" scroll-action='getScrollDosimetries' name-identifiant="adresse">

                </sy-list>
            </div>
        </div>
    </div>
</body>

</html>